# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF
.env
tmp.*

# logs + tests
logs/**
testbox/system/stubs/**
tests/results/**


# npm
**/node_modules/*
npm-debug.log
yarn-error.log

## Ignored Dependencies
**/apidocs/**

# import upload files
temp/
templates/
archives/