<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
   	<rewrite>
        <rules>

			<rule name="Application Administration" stopProcessing="true">
				<match url="^(.*)$" />
				<conditions logicalGrouping="MatchAll">
					<add input="{SCRIPT_NAME}" pattern="^/(.*(mxunit|railo-context|test)).*$" ignoreCase="false" />
				</conditions>
				<action type="None" />
			</rule>

			<rule name="specificCFML" stopProcessing="true">
                <match url="^(.*\.cf[cm].*)$" />
                <action type="Rewrite" url="{R:1}" logRewrittenUrl="true" />
            </rule>

			<rule name="staticAssets" stopProcessing="true">
				<match url="^.*\.(bmp|BMP|gif|GIF|htc|html?|jpe?g|JPE?G|ico|png|PNG|svg|css|js|wav|mp3|swf|txt|pdf|doc|xls|xlsx|xml|ttf|woff|eot|otf|mp4)$" />
				<action type="None" />
			</rule>

            <rule name="everythingElse" stopProcessing="true">
                <match url="^(.*)$" />
                <action type="Rewrite" url="index.cfm/{R:1}" logRewrittenUrl="true" />
            </rule>

        </rules>
    </rewrite>
    <security>
		<requestFiltering>
			<requestLimits maxAllowedContentLength="1073741824" />
		</requestFiltering>
	</security>

	<httpErrors errorMode="Detailed">
		<remove statusCode="404" subStatusCode="-1" />
		<error statusCode="404" prefixLanguageFilePath="" path="/404.cfm" responseMode="ExecuteURL" />
	</httpErrors>
  </system.webServer>
  <system.web>

	<httpRuntime maxRequestLength="1048576" executionTimeout="600" />
	<customErrors mode="Off"/>
  </system.web>
</configuration>