/* - - - - - - - - - - - - - - - - - - - - - - - - -
	Hacks - fixes rendering bugs (DO NOT REMOVE)
- - - - - - - - - - - - - - - - - - - - - - - - - */
.clear:after {clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clear {min-width: 0; display: inline-block; /* \*/display: block;}
* html .clear, * html form ol.selection li label {/* \*/height: 1%;}
* html form.unfamiliar .help {padding-left: 3px;}
* html form.unfamiliar ol.selection, * html form.unfamiliar select.selection {left: 3px; position: relative;}
* html form div.control input {overflow: visible; padding: 0 .25em; width: auto;} /* IE6 button width fix */
* html form div fieldset legend {margin-left: -7px;}	/* for IE6 as legend is indented */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -
	Site Color Theme (background, border, color)
- - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
	margin: 0;
}
.wrap {
	border: green 2px solid;
	margin: 5px;
	padding: 5px;
	font-family: verdana, helvetica;
}
.page {
	padding: 5px;
}
.footer {
	text-align: center;
	font-size: small;
}
* {
	border-radius: 0 !important;
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0;
}
.clickable {
	cursor: pointer;
}
.group-item-remove:hover {
    background-color: #da4f49;
    cursor: pointer;
    color: #ffffff;
}
.table-detail tr th {
    text-align: right;
}
.control-label {
    text-align: right;
}
.label-required {
    font-weight: bold;
}
.help-block {
    display: block;
    margin-top: 5px;
}